       body{
                /*background: url('../images/giff1.gif');*/
                background:  rgba(0,0,0,0.5);
                background-size: 400px;
              }
             
        iframe{
                  margin-left: 33%;
              }
  
        .parent{       
                      margin-top: 30px;
                      display: flex;
              }
        .child{
                      flex: 1;
                      justify-content: center;
                      
              }
        .inpt{
                display: block;
                height: 50px;
                width: 300px;
              }
        .image{
                width:360px;
                height: 200px; 

              }

       .baby >h1{
        color: white;
        transition: transform 4s;
       }

       .baby:hover h1{
        position: absolute;
        transform:  translate(100px, 235px);
       }
/*###########################header#####################*/
nav{
  display: block;
  position: absolute;
  left: 90%;
  top:33%; 
  display: fixed;
}

.menuLinks{
  text-decoration: none;
  font-size: 15pt;
  display: block;
  font-family: 'Pacifico', cursive;
  color:black;
}
.pageDropDown{
  /*  nothing yet*/
}
.menuLinks:hover{
  font-weight: bold;
    font-size: 20pt;
    animation:apear 3s forwards;  
}

.dropDownBox{
  display: none;  
}
.pageDropDown:hover .dropDownBox{
  float: left;
  display: block;
  display: fixed;
  font-weight: bold;
  font-size: 30pt;
}

/*#################header#########################*/

 